#mappack {
  height: 800px;
  width: 1155px;
}

#description {
  color: red;
}



#title {
  font-size: 50px;
  text-align: center;
  font-family: helvetica;
  color: black;
}

#written{
  font-size: 11px;
  text-align: right;
  color: white
}
/* .regions {
  margin: auto;
  font-family: helvetica;
} */


.meteorites {
  text-align: center;
  width : 200px;
  background-color: white;
}

body {
  background-image: url('1.1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  background-color: grey;
}

/* #crime-dates {
  font-size: 22px;
  text-align: left;
  margin-left: 150px;
} */

/* #regions {
  text-align: center;
  vertical-align: baseline;
} */
